<form action="convert" method="post">
    <div align="center">
        <div class="wrap", align="left">
            <input type="text" width="100%" id="rcorners2" name="name" placeholder="Name">
            <input type="text" id="rcorners2" name="amount" placeholder="1000">
            <label for="amount">g/ml</label><br>
            <input type="text" id="rcorners2" name="price" placeholder="Price">
            <select name="currency" id="currency"> {{> currency_options}}
            </select><br><br>
            <input class="button-18" type="submit" value="Submit">
    </div>
</div>
</form>